@model IEnumerable<WebShop.Models.Db.USER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="color:#999">Tài Khoản <a class="agile-icon" href="~/USERs/Create" style="float:left"><i class="fa fa-plus-square"></i></a></p>

        </div>

        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th data-breakpoints="xs">
                        User name
                    </th>
                    <th data-breakpoints="xs">
                        Roles
                    </th>
                    <th data-breakpoints="xs">
                        Pass
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.USERID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROLES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PASS)
                        </td>
                        <td>
                            <a href="/USERs/Edit/@item.USERID" class="btn btn-warning "> <i class="fa fa-pencil"></i> Sửa</a>
                            <a href="/USERs/Details/@item.USERID" class="btn btn-send"><i class="fa fa-list-alt"></i> Chi Tiết</a>
                            <a href="/USERs/Delete/@item.USERID" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>
                    </tr>
                }

            </table>
