@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<div class="market-updates">
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-2">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-eye"> </i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Visitors</h4>
                <h3>13,500</h3>
                <p>Other hand, we denounce</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-1">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-users"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Users</h4>
                <h3>1,250</h3>
                <p>Other hand, we denounce</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-3">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-usd"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Sales</h4>
                <h3>1,500</h3>
                <p>Other hand, we denounce</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-4">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Orders</h4>
                <h3>1,500</h3>
                <p>Other hand, we denounce</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //market-->
<div class="row">
    <div class="panel-body">
        <div class="col-md-12 w3ls-graph">
            <!--agileinfo-grap-->
            <div class="agileinfo-grap">
                <div class="agileits-box">
                    <header class="agileits-box-header clearfix">
                        <h1 id="h1.-bootstrap-heading" style="color:#999;margin-left: 370px;margin-bottom: 10px;">
                            Shop Thời Trang
                            <a class="anchorjs-link" href="#h1.-bootstrap-heading">
                                <span class="anchorjs-icon"></span>
                            </a>
                        </h1>
                        <div class="toolbar">


                        </div>
                    </header>
                    <div class="agileits-box-body clearfix">
                        <img alt="Trang Chủ" src="~/images/shop-quan-ao-nu-copy.jpg" style="width:100%">
                    </div>
                </div>
            </div>
            <!--//agileinfo-grap-->

        </div>
    </div>
</div>
<div class="agil-info-calendar">
    <!-- calendar -->
    <div class="col-md-6 agile-calendar">
        <div class="calendar-widget">
            <img alt="Main" src="~/images/Mẫu-thiết-kế-shop-thời-trang-thi-công-nhanh-giá-thành-rẻ-0.jpg" style="width:100%">
        </div>
    </div>
    <!-- //calendar -->
    <div class="col-md-6 w3agile-notifications">
        <img alt="Main" src="~/images/branidesi-fashion-shop5.jpg" style="width:100%">
    </div>
    <div class="clearfix"> </div>
</div>
<!-- tasks -->
<div class="agile-last-grids">
    <div class="col-md-4 agile-last-left">
        <img alt="Trang Chủ" src="~/images/LP_CB2_MensShirtShop_Filson_MidweightShirts.jpg" style="width:100%">
    </div>
    <div class="col-md-4 agile-last-left agile-last-middle">
        <img alt="Women" src="~/images/c8b0e7ef614852d94a60b6d130cc6e8e.jpg" style="width:100%">
    </div>
    <div class="col-md-4 agile-last-left agile-last-right">
        <img alt="Kid" src="~/images/Newest-Cute-Kid-Goku-3D-t-shirt-children-DBZ-t-shirts-boys-Casual-tees-Anime-Dragon.jpg_640x640.jpg" style="width:100%">
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //tasks -->
<div class="agileits-w3layouts-stats">
    <div class="col-md-4 stats-info widget">
        <img alt="Trang Chủ" src="~/images/ixvhmoWPlje4.jpg" style="width:100%">
    </div>
    <div class="col-md-8 stats-info stats-last widget-shadow">
        <img alt="Trang Chủ" src="~/images/14-oz-Shoes-store-Berlin.jpg" style="width:100%">
    </div>
    <div class="clearfix"> </div>
</div>
