
@{
    ViewBag.Title = "PermissionDenied";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<h2>Permission Denied</h2>
<p>You don't have permission to access this site!</p>
<p>Please Logon with another Role to continue</p>
@Html.ActionLink("Logon", "LogOn")

