@model IEnumerable<WebShop.Models.Db.CATEGORY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="color:#999">Loại Sản Phẩm <a class="agile-icon" href="~/CATEGORies/Create" style="float:left"><i class="fa fa-plus-square"></i></a></p>

        </div>

        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th data-breakpoints="xs">
                        Tên Loại Sản Phẩm
                    </th>
                    <th>                                      </th>
                    <th></th>
                    
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>                                      </td>
                        
                        <td>
                            <a href="/CATEGORies/Edit/@item.ID" class="btn btn-warning "> <i class="fa fa-pencil"></i> Sửa</a>
                            <a href="/CATEGORies/Details/@item.ID" class="btn btn-send"><i class="fa fa-list-alt"></i> Chi Tiết</a>
                            <a href="/CATEGORies/Delete/@item.ID" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
